{% set speakerTitle  = speaker.title %}
{% set speakerData   = speaker.meta('speaker_data') %}
{% set speaker_image = speakerData['speaker_image'] %}
{% set speaker_title = speakerData['speaker_title'] %}
{% set speaker_info  = speakerData['speaker_info'] %}

<div class="m__speakers__speaker">
    <div class="inner">
        {% if speaker_image %}
            <div class="m__speakers__speaker__left">
                <img src="{{ get_image(speaker_image)|e('esc_url') }}" alt="{{ speaker_title|e('html_attr') }}" />
            </div>
        {% endif %}
        <div class="m__speakers__speaker__right">
            <div class="m__speakers__speaker__name">
                {{ speakerTitle|e('esc_html') }}
            </div>
            {% if speaker_title %}
                <div class="m__speakers__speaker__title">
                    {{ speaker_title|e('esc_html') }}
                </div>
            {% endif %}
            {% if speaker_info %}
                <div class="m__speakers__speaker__info m__wyswyg">
                    {{ speaker_info|e('wp_kses_post') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>