{% if link %}
  {% set type   = link.type %}
  {% set value  = link.value %}
  {% set url    = link.url %}
  {% set name   = link.name %}
  {% set title  = link.title %}
  {% set target = link.target %}
  {% set class  = class ? ' ' ~ class : '' %}

  <a href="{{ url|e('esc_url') }}" target="{{ target|e('html_attr') }}" class="btn type-{{ type|e('html_attr') }}{{ class|e('html_attr') }}">
    {{ title ?: name|e('esc_html') ?: 'Read more'|e('esc_html') }}
  </a>
{% endif %}