{% set bgColor  = block.bg_color %}
{% set title    = block.title %}
{% set subtitle = block.subtitle %}
{% set link     = block.link %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if title or link %}
    <section id="{{ settings.block_id }}" class="m__ctaBanner{{ bgColor ? ' -gradient' }}">
        <div class="wrapper">
            <div class="content">
                {% if title %}
                    <div class="titleWrapper -center">
                        <h2 class="m__title__white m__ctaBanner__title">{{ title }}</h2>
                    </div>
                {% endif %}
                {% if subtitle %}
                    <h3 class="m__ctaBanner__subtitle">{{ subtitle }}</h3>
                {% endif %}
                {% if link %}
                    <div class="btnWrapper">
                        {% include '_components/_advanced_link.twig' with {
                            link: link,
                            class: ''
                        } %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if not is_preview %}
            {{ settings.styles | raw }}
        {% endif %}
    </section>
{% elseif is_preview %}
    <div class="_center">
        Add <strong>title</strong> or <strong>link</strong> to show on page.
    </div>
{% endif %}
