{% set gradStats = block.stats %}
{% set count     = block.stats|length %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if gradStats|length %}
    {% if section_animation  %}
        {% set animation_type  = settings.animation_type %}
        {% set animation_duration  = settings.animation_duration %}
        {% set animation_delay  = settings.animation_delay %}
    <section id="{{ settings.block_id }}" class="m__gradStats appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">
    {% else %}
    <section id="{{ settings.block_id }}" class="m__gradStats">
    {% endif %}
        {% include '_components/settings_overlay.twig' %}
    
        <div class="wrapper color-{{ text_color ?: 'primary' }}">
            <div class="_w">
                {% for stat in gradStats %}
                    {% set number = stat.count_number %}
                    {% set desc = stat.desc %}
                    <div class="m__gradStats__block _m4">
                        <div class="m__gradStats__stat">
                            <div class="m__gradStats__numb" title="{{ number }}">{{ number }}</div>
                            <div class="m__desc m__gradStats__desc">{{ desc }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if not is_preview %}
            {{ settings.styles | raw }}
        {% endif %}
    </section>
{% elseif is_preview %}
    <div class="_center">
        Add at least one <strong>stat</strong> to show this block.
    </div>
{% endif %}

