{% set bg_color    = block.bg_color %}
{% set text_color   = block.text_color %}
{% set opacity     = block.overlay_opacity %}
{% set lg_bg_color = block.lg_bg_color %}
{% set desc        = block.desc %}
{% set link        = block.link %}

{% if not is_preview %}
    {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id }}" class="m__graphicFeature{{ lg_bg_color ? ' -linear'}}" style="{{ bg_color ? 'background: ' ~ bg_color ~ ';' }}">
    <div class="overlayBg" style="
    {{ bg_color ? 'background: ' ~ bg_color ~ ';' }}
    {{ opacity ? 'opacity: ' ~ opacity ~ ';' }}"></div>
    <div class="wrapper">
        <div class="container"></div>
        {% if block %}
            <div class="m__graphicFeature__top">
                {% include '_partials/_blocks/_parts/dynamicMedia.twig' with {
                    blockData: block
                } %}
            </div>
        {% endif %}
        {% if desc or link %}
            <div class="m__graphicFeature__bottom">
                {% if desc %}
                    <div class="m__wyswyg m__graphicFeature__bottom__desc" style="{{ text_color ? 'color: ' ~ text_color ~ ';' }}">{{ desc }}</div>
                {% endif %}
                {% if link %}
                    <div class="btnWrapper">
                        {% include '_components/_advanced_link.twig' with {
                            link: link,
                            class: ''
                        } %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>