{% set hero_type = block.hero_type %}

{% set section_animation  = settings['section_animation'] %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if section_animation  %}
    {% set animation_type  = settings.animation_type %}
    {% set animation_duration  = settings.animation_duration %}
    {% set animation_delay  = settings.animation_delay %}
    <section id="{{ settings.block_id }}" class="m__hero -{{ hero_type }} appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">
  {% else %}
  <section id="{{ settings.block_id }}" class="m__hero -{{ hero_type }}">
{% endif %}
  {% include '_partials/_blocks/_hero/' ~ hero_type ~ '.twig' with {
    blockId: settings.block_id
  } %}
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>