{% set images = block.images %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if images | length %}
  {% if section_animation  %}
        {% set animation_type  = settings.animation_type %}
        {% set animation_duration  = settings.animation_duration %}
        {% set animation_delay  = settings.animation_delay %}
    <section id="{{ settings.block_id }}" class="m__imagesContentOverlay appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">
    {% else %}
    <section id="{{ settings.block_id }}" class="m__imagesContentOverlay">
    {% endif %}
        {% include '_components/settings_overlay.twig' %}
  
    <div class="wrapper">
      <div class="container color-{{ text_color ?: 'primary' }}">
        <div class="_w">
          {% for row in images %}
            {% set column_width = row.column_width %}
            {% set image        = row.image %}
            {% set desc         = row.description %}

            <div class="m__imagesContentOverlay__img _m6{{ column_width ? ' ' ~ column_width }}">
              <div class="m__imagesContentOverlay__img__inner" style="background-image: url({{ image ? get_image(image) : theme.link ~ '/public/images/rapid-sos.png' }})">
                {% if desc %}
                  <div class="m__imagesContentOverlay__text">
                    {{ desc }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if not is_preview %}
      {{ settings.styles | raw }}
    {% endif %}
  </section>
{% endif %}
