{% set title      = block.title %}
{% set titleLeft  = block.left %}
{% set images_row = block.images_row %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if images_row %}
  <section id="{{ settings.block_id }}" class="m__imgRows">
    <div class="wrapper -limit">
      {% if title %}
        <div class="titleWrapper{{ titleLeft ? ' -left' }}">
          <h2 class="title">{{ title }}</h2>
        </div>
      {% endif %}
      <div class="_w">
        {% for img_row in images_row %}
          {% set column_width = img_row.column_width %}
          {% set image        = img_row.image %}
          {% set s_numb       = img_row.serial_numb %}
          {% set title         = img_row.title %}
          {% set desc         = img_row.desc %}

          <div class="m__imgRows__wrapper _m6{{ column_width ? ' ' ~ column_width }}">
            <div class="m__imgRows__wrapper__box">
              <div class="m__imgRows__wrapper__inner">
                <div class="m__imgRows__wrapper__inner__wrapImg">
                  {% if image %}
                    <img class="m__imgRows__wrapper__inner__bgImg" src="{{ get_image(image) }}" alt="{{ image.alt }}" />
                  {% endif %}
                </div>
                {% if desc or s_numb %}
                  <div class="m__imgRows__wrapper__inner__bottom">
                    {% if s_numb %}
                      <span class="numb">{{ s_numb }}.</span>
                    {% endif %}
                    <div style="margin-top: 1px;">
                    {% if title %}
                    <h2 class="m__imgRow__title">{{title}}</h2>
                    {% endif %}
                    {% if desc %}
                    <p class="m__imgRow__desc">{{ desc }}</p>
                    {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if not is_preview %}
      {{ settings.styles | raw }}
    {% endif %}
  </section>
{% elseif is_preview %}
  <div class="_center">
    Add at least one image row to show on page.
  </div>
{% endif %}