{% set title        = block.title %}
{% set desc         = block.desc %}
{% set logo_gallery = block.logo_gallery %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id }}" class="m__logoReel">
    <div class="wrapper">
        <div class="container container__short container__center">
            {% if title %}
                <h1 class="m__title m__logoReel__title">{{ title }}</h1>
            {% endif %}
        </div>
        {% if desc %}
            <h3 class="m__logoReel__desc">{{ desc }}</h3>
        {% endif %}
        {#        Add sider for this repeater#}
        {% if logo_gallery %}
            <div class="m__logoReel__logos">
                <div class="swiper js-logoSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="m__logoReel__logos__block">
                                {% for logo in logo_gallery %}
                                    <img class="m__logoReel__logos__block__img" src="{{ get_image(logo) }}" alt="" >
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        {% endif %}
  </div>
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>