{% set title        = block.title %}
{% set desc         = block.desc %}
{% set label        = block.label %}
{% set logo_gallery = block.logo_gallery %}
{% set layout = block.logos_layout %}
{% set enable_large = block.enable_large_logos %}
{% set title_animation = block.title_animation %}
{% set desc_animation = block.description_animation %}
{% set logos_animation = block.logos_animation %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if logo_gallery|length %}
    {% if section_animation  %}
        {% set animation_type  = settings.animation_type %}
        {% set animation_duration  = settings.animation_duration %}
        {% set animation_delay  = settings.animation_delay %}
    <section id="{{ settings.block_id|e('html_attr') }}" class="m__logoReel appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
    {% else %}
    <section id="{{ settings.block_id|e('html_attr') }}" class="m__logoReel">
    {% endif %}
        {% include '_components/settings_overlay.twig' %}
        <div class="wrapper color-{{ text_color|e('html_attr') ?: 'primary' }}">
            <div class="titleWrapper -short -center">
                {% if title %}
                    {% if title_animation.enable_animation %}
                        {% set animation_type  = title_animation.animation_type %}
                        {% set animation_duration  = title_animation.animation_duration %}
                        {% set animation_delay  = title_animation.animation_delay %}
                        <h2 class="m__logoReel__title heading appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">{{ title|e('esc_html') }}</h2>
                    {% else %}
                        <h2 class="m__logoReel__title heading">{{ title|e('esc_html') }}</h2>
                    {% endif %}
                {% endif %}
            </div>
            {% if desc %}
                {% if desc_animation.enable_animation %}
                    {% set animation_type  = desc_animation.animation_type %}
                    {% set animation_duration  = desc_animation.animation_duration %}
                    {% set animation_delay  = desc_animation.animation_delay %}
                    <h3 class="m__logoReel__desc appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">{{ desc|e('esc_html') }}</h3>
                {% else %}
                    <h3 class="m__logoReel__desc">{{ desc|e('esc_html') }}</h3>
                {% endif %}                
            {% endif %}
            {% if label %}
                <p class="m__logoReel__label">{{ label|e('esc_html') }}</p>
            {% endif %}
            {% if logo_gallery %}
                {% if logos_animation.enable_animation %}
                    {% set animation_type  = logos_animation.animation_type %}
                    {% set animation_duration  = logos_animation.animation_duration %}
                    {% set animation_delay  = logos_animation.animation_delay %}
                    <div class="m__logoReel__logos appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
                {% else %}
                    <div class="m__logoReel__logos">
                {% endif %}
                
                    {% if layout == 'reel' %}
                        <div class="swiper js-logoSlider">
                            <div class="swiper-wrapper">
                                {% for logo in logo_gallery %}
                                    <div class="swiper-slide">
                                        <div class="m__logoReel__logos__block">
                                            <img class="m__logoReel__logos__block__img {{ enable_large ? '-large' ~ '' }}" src="{{ get_image(logo)|e('esc_url') }}" alt="" >
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% set num = block.grid_number %}
                        <div class="logos-grid">
                        <style>
                            #{{ settings.block_id|e('esc_html') }} .logo-grid {
                                flex-basis: calc(100% / {{num}});
                            }
                        </style>
                            {% for logo in logo_gallery %}
                                <div class="m__logoReel__logos__block logo-grid">
                                    <img class="m__logoReel__logos__block__img {{ enable_large ? '-large' ~ '' }}" src="{{ get_image(logo)|e('esc_url') }}" alt="" >
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if not is_preview %}
            {{ settings.styles | raw }}
        {% endif %}
    </section>
{% elseif is_preview %}
    <div class="_center">
        Add at least one <strong>logo</strong> to show module on page.
    </div>
{% endif %}