{% set title        = block.title %}
{% set form_code = block.newsletter_form %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if section_animation  %}
    {% set animation_type  = settings.animation_type %}
    {% set animation_duration  = settings.animation_duration %}
    {% set animation_delay  = settings.animation_delay %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__newsletter appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
{% else %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__newsletter">
{% endif %}
    {% include '_components/settings_overlay.twig' %}

    <style>
        .m__newsletter .hs_submit {
            margin-top: 16px;
        }
        .m__newsletter .hs_submit .hs-button {
            padding: .6em 2em;
        } 
        .m__newsletter .input .hs-input {
            padding: 6px 12px;
            border: 2px solid #001559;
            font-size: 20px;
        }
        .m__newsletter .hs-error-msgs label {
            line-height: 26px;
            font-size: 16px;
        }
    </style>
    <div class="wrapper">
        <div class="container color-{{ text_color|e('html_attr') ?: 'primary' }}">
            <div class="_w">
                <div class="m__columns__column _m6">
                <div class="m__columns__column__inner" style="padding: 16px;">
                    <h2>{{title|e('esc_html')}}</h2>
                </div>
                </div>
                <div class="m__columns__column _m6">
                {{form_code}}
                </div>
            </div>
        </div>
    </div>
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>