{% set bgImg      = block.bg_image %}
{% set leftText   = block.left_text %}
{% set linkLeft  = block.link_left %}
{% set rightText  = block.right_text %}
{% set linkRight = block.link_right %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if bgImg or leftText or rightText %}
    <section id="{{ settings.block_id }}" class="m__ovrContent">
        <div class="wrapper">
            <div class="_w">
                {% if leftText or linkLeft %}
                    <div class="left">
                        <div class="m__ovrContent__left">
                            <h3 class="m__ovrContent__left__text">{{ leftText }}</h3>
                            {% if linkLeft %}
                                <div class="btnWrapper">
                                    {% include '_components/_advanced_link.twig' with {
                                        link: linkLeft,
                                        class: '-outline'
                                    } %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="wrapImg m__ovrContent__wrapImg">
                    <div class="innerImg m__ovrContent__wrapImg__innerImg">
                        <div class="bgImg m__ovrContent__wrapImg__innerImg__bgImg" style="{% if bgImg %}background-image: url({{ get_image(bgImg) }}){% endif %}"></div>
                    </div>
                </div>
                {% if rightText or linkRight %}
                    <div class="m__ovrContent__right">
                        <h3 class="m__ovrContent__right__text">{{ rightText }}</h3>
                        {% if linkRight %}
                            <div class="btnWrapper">
                                {% include '_components/_advanced_link.twig' with {
                                    link: linkRight,
                                    class: ''
                                } %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if not is_preview %}
            {{ settings.styles | raw }}
        {% endif %}
    </section>
{% elseif is_preview %}
    <div class="_center">
        Add module content to show on page.
    </div>
{% endif %}