{% set sTitle        = post.meta.s_title %}
{% set valueBlocks   = post.meta('value_blocks') %}
{% set count         = valueBlocks | length %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
    {#  {{ dump(settings) }}#}
{% endif %}

{% if valueBlocks %}
    {% if section_animation  %}
        {% set animation_type  = settings.animation_type %}
        {% set animation_duration  = settings.animation_duration %}
        {% set animation_delay  = settings.animation_delay %}
    <section id="{{ settings.block_id }}" class="m__podcastContent appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">
    {% else %}
    <section id="{{ settings.block_id }}" class="m__podcastContent">
    {% endif %}
        {% include '_components/settings_overlay.twig' %}
    
        <div class="wrapper -limit color-{{ text_color ?: 'primary' }}">
            <div class="content">
                {% if sTitle %}
                    <div class="titleWrapper">
                        <h2 class="title">{{ sTitle }}</h2>
                    </div>
                {% endif %}
                <div class="m__podcastContent__blocks">
                    <div class="_w">
                        {% for block in valueBlocks %}
                            {% set value       = block.value %}
                            {% set description = block.description %}

                            <div class="m__podcastContent__blocks__blocksWrapper{{ count == 3 ? ' _m4' : ' _m6'}}">
                                <div class="m__podcastContent__blocks__blocksWrapper__inner">
                                    <h2 class="value">{{ value }}</h2>
                                    <p class="desc">{{ description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#{% elseif is_preview %}#}
{#    <div class="_center">#}
{#        Be sure that there is a podcast content data in Podcast Data Content.#}
{#    </div>#}
{% endif %}
