{% set title       = block.title %}
{% set subtitle    = block.subtitle %}
{% set link        = block.link %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if title or subtitle %}
    <section id="{{ settings.block_id }}" class="m__scText">
        {% include '_components/settings_overlay.twig' %}
        <div class="wrapper">
            <div class="container" style="{{ text_color ? 'color: ' ~ text_color ~ ';' }}">
                <div class="titleWrapper -center -short">
                    {% if title %}
                        <h1 class="m__title m__scText__title">{{ title }}</h1>
                    {% endif %}
                    {% if subtitle %}
                        <h3 class="m__text m__scText__text">{{ subtitle }}</h3>
                    {% endif %}
                    {% if link %}
                        <div class="btnWrapper">
                            {% include '_components/_advanced_link.twig' with {
                                link: link,
                                class: ''
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% if not is_preview %}
            {{ settings.styles | raw }}
        {% endif %}
        </div>
    </section>
{% elseif is_preview %}
    <div class="_center">
        Add <strong>title</strong> or <strong>subtitle</strong> to show on page.
    </div>
{% endif %}