{% set title     = block.title %}
{% set subtitle  = block.subtitle %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id }}" class="m__scText">
  <div class="wrapper">
    <div class="container container__center container__short">
      <h1 class="m__title m__scText__title">{{ title }}</h1>
      <h3 class="m__text m__scText__text">{{ subtitle }}</h3>
    </div>
  </div>
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>