{% set aboveText = block.above_text %}
{% set top_desktop = block.top_desktop %}
{% set bottom_desktop = block.bottom_desktop %}
{% set top_mobile = block.top_mobile %}
{% set bottom_mobile = block.bottom_mobile %}

{% set section_animation  = settings['section_animation'] %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if section_animation  %}
    {% set animation_type  = settings.animation_type %}
    {% set animation_duration  = settings.animation_duration %}
    {% set animation_delay  = settings.animation_delay %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__statistic{{ aboveText ? ' -aboveText' }} appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
{% else %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__statistic{{ aboveText ? ' -aboveText' }}">
{% endif %}
        {% include '_components/settings_overlay.twig' %}

    <style>
        #{{ settings.block_id|e('esc_html') }} {
            margin-top: {{top_mobile}}px;
            margin-bottom: {{bottom_mobile}}px;
        }

        @media (min-width: 768px) {
            #{{ settings.block_id|e('esc_html') }} {
                margin-top: {{top_desktop}}px;
                margin-bottom: {{bottom_desktop}}px;
            }
        }
    </style>
    {% if aboveText %}
        {% include '_partials/_blocks/_parts/_statistic-feature/statistic_feature_secondStyle.twig' with {
            block: block
        } %}
    {% else %}
        {% include '_partials/_blocks/_parts/_statistic-feature/statistic_feature_firstStyle.twig' with {
            block: block
        } %}
    {% endif %}
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>