{% set title   = block.title %}
{% set steps   = block.steps %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id|e('html_attr') }}" class="m__steps">
    <div class="wrapper">
        {% if title %}
            <div class="container container__short container__center">
                <h2 class="m_title m__steps__title heading">{{ title|e('esc_html') }}</h2>
            </div>
        {% endif %}
        <div class="m__steps__wrapper">
            {% if steps %}
                <div class="m__steps__wrap m__steps__full">
                    {% for step in steps %}
                        {% set img         = step.step_img %}
                        {% set banner_text = step.banner_text %}

                        {% if img %}
                            <div class="m__steps__blockWrap">
                                <div class="m__steps__blockWrap__bgImg" style="{% if img %}background-image: url({{ get_image(img)|e('esc_url') }}){% endif %}">
                                    <div class="m__steps__blockWrap__bgImg__banner m__steps__banner -top">
                                        <h2 class="m__steps__blockWrap__bgImg__banner__text">{{ banner_text|e('wp_kses_post') }}</h2>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="m__steps__wrap m__steps__onlyText">
                    {% for step2 in steps %}
                        {% set img         = step2.step_img %}
                        {% set banner_text = step2.banner_text %}

                        {% if img %}
                            <div class="m__steps__blockWrap">
                                <div class="m__steps__blockWrap__banner m__steps__banner -bot">
                                    <h2 class="m__steps__blockWrap__banner__text">{{ banner_text|e('wp_kses_post') }}</h2>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
  </div>
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>