{% set title    = block.title %}
{% set s_style  = block.steps_style %}
{% set title_anim  = block.title_animation %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% set section_class = s_style ? 'm__stepsTwo' : 'm__steps' %}

{% if not is_preview %}
    {#  {{ dump(settings) }}#}
{% endif %}

{% if section_animation  %}
    {% set animation_type  = settings.animation_type %}
    {% set animation_duration  = settings.animation_duration %}
    {% set animation_delay  = settings.animation_delay %}
<section id="{{ settings.block_id|e('html_attr') }}" class="{{ section_class|e('html_attr') }}{{ steps | length == 2 ? ' two' }} appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
{% else %}
<section id="{{ settings.block_id|e('html_attr') }}" class="{{ section_class|e('html_attr') }}{{ steps | length == 2 ? ' two' }}">
{% endif %}
{% include '_components/settings_overlay.twig' %}
    <div class="wrapper color-{{ text_color|e('html_attr') ?: 'primary' }}">
        {% if title %}
            {% if title_anim.enable_animation %}
                {% set animation_type  = title_anim.animation_type %}
                {% set animation_duration  = title_anim.animation_duration %}
                {% set animation_delay  = title_anim.animation_delay %}
                <div class="titleWrapper -center appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
            {% else %}
                <div class="titleWrapper -center">
            {% endif %}
                <h2 class="m__steps__title heading">{{ title|e('esc_html') }}</h2>
            </div>
        {% endif %}
        {% if s_style %}
            {% include '_partials/_blocks/_parts/_steps-module/steps_second.twig' with {
                block: block
            } %}
        {% else %}
            {% include '_partials/_blocks/_parts/_steps-module/steps_first.twig' with {
                block: block
            } %}
        {% endif %}
    </div>
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>