{% set sTitle          = block.section_title %}
{% set columns         = block.columns %}
{% set spacing         = block.columns_spacing / 2 %}

{% set bg_image        = block.bg_image %}
{% set bg_video_file   = block.bg_video_file %}
{% set bg_video_url    = block.bg_video_url %}
{% set columns_align   = block.columns_align %}

{% set text_color      = settings.text_color %}

{% set section_animation  = settings['section_animation'] %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if columns | length %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__columns {{ columns_align|e('html_attr') }}" style="{{ bg_image ? 'background: url(' ~ get_image(bg_image)|e('esc_url') ~ ') 50% / cover no-repeat' }}">
  <style>
    #{{ settings.block_id|e('esc_html') }} ._w {
      margin-left: -{{spacing}}px;
      margin-right: -{{spacing}}px;
    }
    #{{ settings.block_id|e('esc_html') }} ._w>.m__columns__column {
      padding-left: {{spacing}}px;
      padding-right: {{spacing}}px;
    }
  </style>
    {% include '_partials/_blocks/_parts/dynamicCustomMedia.twig' with {
      bg_image: bg_image,
      video_file: bg_video_file,
      video_url: bg_video_url
    } %}
    {% include '_components/settings_overlay.twig' %}
    {% if section_animation  %}
        {% set animation_type  = settings.animation_type %}
        {% set animation_duration  = settings.animation_duration %}
        {% set animation_delay  = settings.animation_delay %}
        <div class="wrapper appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
    {% else %}
        <div class="wrapper">
    {% endif %}
      <div class="container color-{{ text_color|e('html_attr') ?: 'primary' }}">
        {% if sTitle %}
          <h2 class="m__columns__sTitle heading">{{ sTitle|e('esc_html') }}</h2>
        {% endif %}
        <div class="_w">
          {% for column in columns %}
            {% set column_layout  = column.column_layout %}
            {% set column_width   = column.column_width %}
            {% set column_media   = column.media %}
            {% set column_form    = column.form %}
            {% set column_anim    = column.column_animation %}

            {% if column_width %}
              <div class="m__columns__column {{column_width|e('html_attr')}}">
            {% else %}
              <div class="m__columns__column _m6">
            {% endif %}
              {% if column_anim.enable_animation %}
                    {% set animation_type  = column_anim.animation_type %}
                    {% set animation_duration  = column_anim.animation_duration %}
                    {% set animation_delay  = column_anim.animation_delay %}
                  <div class="m__columns__column__inner appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
                {% else %}
                  <div class="m__columns__column__inner">
                {% endif %}
                {% include '_partials/_blocks/_columns-layout/' ~ column_layout ~ '.twig' with {
                  column: column
                } %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if not is_preview %}
      {{ settings.styles | raw }}
    {% endif %}
  </section>
{% endif %}