{% set sTitle          = block.section_title %}
{% set columns         = block.columns %}

{% set bg_image        = block.bg_image %}
{% set bg_video_file   = block.bg_video_file %}
{% set bg_video_url    = block.bg_video_url %}
{% set columns_align   = block.columns_align %}

{% set text_color      = settings.text_color %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

{% if columns | length %}
  <section id="{{ settings.block_id }}" class="m__columns {{ columns_align }}" style="{{ bg_image ? 'background: url(' ~ get_image(bg_image) ~ ') 50% / cover no-repeat' }}">
    {% include '_partials/_blocks/_parts/dynamicCustomMedia.twig' with {
      bg_image: bg_image,
      video_file: bg_video_file,
      video_url: bg_video_url
    } %}
    {% include '_components/settings_overlay.twig' %}
    <div class="wrapper">
      <div class="container color-{{ text_color ?: 'primary' }}">
        {% if sTitle %}
          <h1 class="m__columns__sTitle">{{ sTitle }}</h1>
        {% endif %}
        <div class="_w">
          {% for column in columns %}
            {% set column_layout  = column.column_layout %}
            {% set column_width   = column.column_width %}
            {% set column_media   = column.media %}
            {% set column_form    = column.form %}

            <div class="m__columns__column _m6{{ column_width ? ' ' ~ column_width }}">
              <div class="m__columns__column__inner">
                {% include '_partials/_blocks/_columns-layout/' ~ column_layout ~ '.twig' with {
                  column: column
                } %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if not is_preview %}
      {{ settings.styles | raw }}
    {% endif %}
  </section>
{% endif %}