{% set s_title = block.section_title %}
{% set s_subtitle = block.section_subtitle %}
{% set videos  = block.videos %}
{% set columns  = block.video_columns %}

{% set section_animation  = settings['section_animation'] %}

{% set text_color  = settings.text_color %}

{% if not is_preview %}
    {#  {{ dump(settings) }}#}
{% endif %}

{% if section_animation  %}
    {% set animation_type  = settings.animation_type %}
    {% set animation_duration  = settings.animation_duration %}
    {% set animation_delay  = settings.animation_delay %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__videoCarousel appear-animate animated-{{animation_duration|e('html_attr')}}" data-settings="{'_animation':'{{animation_type|e('html_attr')}}','_animation_delay':{{animation_delay|e('html_attr')}}}">
{% else %}
<section id="{{ settings.block_id|e('html_attr') }}" class="m__videoCarousel">
{% endif %}
        {% include '_components/settings_overlay.twig' %}
    <div class="wrapper color-{{ text_color|e('html_attr') ?: 'primary' }}">
        {% if s_title %}
            <h2 class="m__videoCarousel__title">{{ s_title|e('esc_html') }}</h2>
        {% endif %}
        {% if s_subtitle %}
            <p class="m__videoCarousel__subtitle">{{ s_subtitle|e('esc_html') }}</p>
        {% endif %}
        {% if videos %}
            <div class="m__videoCarousel__wrapper">
                {% if columns == '3' %}
                    <div class="swiper js-videoSlider3">
                {% else %}
                    <div class="swiper js-videoSlider4">
                {% endif %}
                    <div class="swiper-wrapper">
                        {% for item in videos %}
                            {% set videoType    = item.video_type %}
                            {% set videoFile   = item.video_file %}
                            {% set videoUrl    = item.video_url %}
                            {% set videoCode    = item.video_code %}
                            {% set videoText    = item.video_text %}
                            {% set video = videoFile or videoUrl %}

                            <div class="swiper-slide">
                                <div class="m__videoCarousel__item">
                                    <div class="m__videoCarousel__item__top">
                                        {% if videoType == 'yv' and video %}
                                            {% if videoUrl %}
                                            <div class="m__videoCarousel__video">
                                                {% if videoUrl %}
                                                    <div id="video-{{ settings.block_id|e('html_attr') }}" class="js-videoCarousel" data-plyr-provider="{{ 'youtu' in videoUrl ? 'youtube' : 'vimeo' }}" data-plyr-embed-id="{{ videoUrl|e('esc_url') }}"></div>
                                                {% endif %}
                                            </div>
                                            {% else %}
                                            <video id="video-{{ settings.block_id|e('html_attr') }}" class="js-videoCarousel" playsinline controls data-poster="{{ get_image(videoPosterv)|e('esc_url') }}">
                                                <source src="{{ videoFile.url|e('esc_url') }}" type="video/mp4" />
                                            </video>
                                            {% endif %}
                                        {% else %}
                                            {% if videoCode %}
                                            <div id="video-{{ settings.block_id|e('html_attr') }}" style="width: 100%;">
                                                {{videoCode|e('wp_kses_post')}}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="m__videoCarousel__item__bottom">
                                        {% if videoText %}
                                            <h4 class="m__videoCarousel__item__title">{{videoText|e('esc_html')}}</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>