{% set postType     = post.post_type %}
{% set title        = post.title %}
{% set thumbnail    = post.thumbnail %}
{% set author       = post.author %}

<section class="m__ptHero -{{ postType|e('html_attr') }}">
  <div class="wrapper">
    <div class="container">
      <h1 class="heading">{{ post.title|e('esc_html') }}</h1>
      {% if author %}
        <p>by {{ author.display_name|e('esc_html') }}</p>
      {% endif %}
      {% if thumbnail %}
        <img src="{{ thumbnail.src | resize(820)|e('esc_url') }}" alt="{{ thumbnail.caption|e('html_attr') }}" />
      {% endif %}
      <div class="socialShare">
        {% include '_components/socialShare.twig' %}
      </div>
    </div>
  </div>
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>