{% set current_id   = slidePost is defined ? slidePost.id : id %}
{% set current_post = get_post(current_id) %}
{% set type        = current_post.type %}
{% set title        = current_post.title %}
{% set link         = current_post.link %}
{% set thumbnail    = current_post.thumbnail %}
{% set hero_img     = current_post.meta('hero_img') %}

<div class="swiper-slide _ptCard">
  {% if type == 'case-study' %}
    {% set logo        = current_post.meta('logo') %}
    {% set subtitle    = current_post.meta('subtitle') %}
    {% set industry    = current_post.meta('industry') %}
    <div class="inner">
      <div>
        <a href="{{ link|e('esc_url') }}" class="slide-image">
          {% if thumbnail or hero_img %}
            {# <img src="{{ thumbnail ? thumbnail.src | resize(512, 455, true) : get_image(hero_img) | resize(512) }}" alt="{{ title|e('html_attr') }}" /> #}
            <img src="{{ thumbnail ? thumbnail.src | resize(820)|e('esc_url') : get_image(hero_img) | resize(820)|e('esc_url') }}" alt="{{ title|e('html_attr') }}" />
          {% else %}
            <img class="_ptCard__plch" src="{{ theme.link ~ '/public/images/rapid-sos.png'|e('esc_url')|e('esc_url') }}" alt="{{ title|e('html_attr') }}" />
          {% endif %}
        </a>
      </div>
      {% if logo %}
          <div class="logoWrapper">
              <a href="{{ link|e('esc_url') }}"><img src="{{ get_image(logo)|e('esc_url') }}" alt="Logo Image"></a>
          </div>
      {% endif %}
      <p>Industry: <span>{{industry|e('esc_html')}}</span></p>
      <p class="_ptCard__title">
        {{ subtitle|e('esc_html') }}
      </p>
      <a href="{{ link|e('esc_url') }}">
        Read case study
      </a>
    </div>
  {% else %}
    <div class="inner">
      <div>
        <a href="{{ link|e('esc_url') }}" class="slide-image">
          {% if thumbnail or hero_img %}
            {# <img src="{{ thumbnail ? thumbnail.src | resize(512, 455, true) : get_image(hero_img) | resize(512) }}" alt="{{ title|e('html_attr') }}" /> #}
            <img src="{{ thumbnail ? thumbnail.src | resize(820)|e('esc_url') : get_image(hero_img) | resize(820)|e('esc_url') }}" alt="{{ title|e('html_attr') }}" />
          {% else %}
            <img class="_ptCard__plch" src="{{ theme.link ~ '/public/images/rapid-sos.png'|e('esc_url')|e('esc_url') }}" alt="{{ title|e('html_attr') }}" />
          {% endif %}
        </a>
      </div>
      <p class="_ptCard__title">
        {{ title|e('esc_html') }}
      </p>
      <a href="{{ link|e('esc_url') }}">
        Read more
      </a>
    </div>
  {% endif %}
  
</div>