{% set media_type  = blockData.media_type %}
{% set bg_image   = blockData.bg_image %}
{% set video_file = blockData.video_file %}
{% set video_url  = blockData.video_url %}
{% set enable_mobile  = blockData.enable_mobile_image %}
{% set enable_width  = blockData.control_media_width %}
{% set video_type  = blockData['video_type'] %}
{% set video_code  = blockData['video_code'] %}
{% set bg_video   = video_file or video_url %}

{% if enable_width %} 
  {% set width  = blockData.width %}
  {% set unit  = blockData.unit %}
  <style>
    #{{ settings.block_id|e('esc_html') }} .m__dynamicMedia {
      max-width: {{width}}{{unit}};
    }
  </style>
{% endif %}

<div class="m__dynamicMedia">
{% if media_type == "image" and bg_image %}
  
    <div class="wrapImg m__dynamicMedia__wrapImg">
      {% if enable_mobile %}
        {% set mobile_image  = blockData.mobile_image %}  
          <div class="innerImg m__dynamicMedia__wrapImg__innerImg -enable-mobile">
            <img src="{{get_image(bg_image)|e('esc_url')}}" alt="Image" />
            <img src="{{get_image(mobile_image)|e('esc_url')}}" alt="Image" />
          </div>
        {% else %}
          <div class="innerImg m__dynamicMedia__wrapImg__innerImg">
            <img src="{{get_image(bg_image)|e('esc_url')}}" alt="Image" />
          </div>
        {% endif %}
    </div>
{% elseif media_type == "video" %}
  {% if video_type == 'yv' and bg_video %}
    {% if video_url %}
      <div class="m__dynamicMedia__video">
        {% if video_url %}
          <div id="video-{{ blockId|e('html_attr') }}" class="js-cardVideo" data-plyr-provider="{{ 'youtu' in video_url ? 'youtube' : 'vimeo' }}" data-plyr-embed-id="{{ video_url|e('esc_url') }}"></div>
        {% endif %}
      </div>
    {% else %}
      <video id="video-{{ blockId|e('html_attr') }}" class="js-cardVideo" controls crossorigin playsinline>
        <source src="{{ video_file.url|e('esc_url') }}" type="video/mp4" />
      </video>
    {% endif %}
  {% else %}
    {% if video_code %}
      <div id="video-{{ blockId|e('html_attr') }}" style="width: 100%;">
        {{video_code|e('wp_kses_post')}}
      </div>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{# {% if bg_image and not bg_video %}
  <div class="m__dynamicMedia{{ bg_video ? ' -withVideo' }}">
    <div class="wrapImg m__dynamicMedia__wrapImg">
      <div class="innerImg m__dynamicMedia__wrapImg__innerImg">
        <div class="bgImg m__dynamicMedia__wrapImg__innerImg__bgImg"style="{% if bg_image %}background-image: url({{ get_image(bg_image)|e('esc_url') }}){% endif %}"></div>
      </div>
    </div>
  </div>
{% endif %}
{% if bg_video or video_code %}
  {% if video_type == 'yv' %}
    {% if video_url %}
      <div class="m__dynamicMedia__video">
        {% if video_url %}
          <div id="video-{{ blockId|e('html_attr') }}" class="js-cardVideo" data-plyr-provider="{{ 'youtu' in video_url ? 'youtube' : 'vimeo' }}" data-plyr-embed-id="{{ video_url|e('esc_url') }}"></div>
        {% endif %}
      </div>
    {% else %}
      <video id="video-{{ blockId|e('html_attr') }}" class="js-cardVideo" controls crossorigin playsinline data-poster="{{ get_image(bg_image)|e('esc_url') }}">
        <source src="{{ video_file.url|e('esc_url') }}" type="video/mp4" />
      </video>
    {% endif %}
  {% else %}
    {% if video_code %}
      <div id="video-{{ blockId|e('html_attr') }}" style="width: 100%;">
        {{video_code|e('wp_kses_post')}}
      </div>
    {% endif %}
  {% endif %}
{% endif %} #}
