{% set title           = block.title %}
{% set subtitle        = block.subtitle %}
{% set bg_image        = block.bg_image %}
{% set bg_image_mobile = block.bg_image_mobile %}
{% set bg_video_file   = block.bg_video_file %}
{% set bg_video_url    = block.bg_video_url %}
{% set full_screen     = block.full_screen_video %}
{# {% set bg_color        = block.bg_color %} #}
{# {% set txt_color       = block.txt_color %}
{% set lg_bg_color     = block.lg_bg_color %} #}
{# {% set opacity         = block.overlay_opacity %} #}
{% set ctas            = block.ctas %}
{% set bg_video        = bg_video_file or bg_video_url %}
{% set title_anim        = block.title_animation %}
{% set sub_anim        = block.subtitle_animation %}
{% set ctas_anim        = block.ctas_animation %}

{% set text_color  = settings.text_color %}
{% set bg_color = settings.bg_color %}
{% set opacity  = settings.bg_opacity %}



<div class="m__hero__hero{{ bg_video ? ' -withVideo' }}{{ lg_bg_color ? ' -linear' }}">
  {% if bg_image and not bg_video %}
    <div class="img" role="img">
      <picture>
        {% if bg_image_mobile %}
          <source media="(max-width: 514px)" srcset="{{ get_image(bg_image_mobile) }} 514w" />
        {% endif %}
        <img src="{{ get_image(bg_image) }}" alt="{{ bg_image.alt }}" srcset="{{ get_image(bg_image) }} 993w" />
      </picture>
  </div>
  {% endif %}
  {% if bg_video %}
    <div class="video{{ full_screen ? ' -full' }}">
      {% if bg_video_url %}
        <div id="video-{{ blockId }}" class="js-heroVideo" data-plyr-provider="{{ 'youtu' in bg_video_url ? 'youtube' : 'vimeo' }}" data-plyr-embed-id="{{ bg_video_url }}"></div>
      {% elseif bg_video_file %}
        <video id="video-{{ blockId }}" class="js-heroVideo" playsinline controls autoplay loop data-poster="{{ get_image(bg_image) }}">
          <source src="{{ bg_video_file.url }}" type="video/mp4" />
        </video>
      {% endif %}
    </div>
  {% endif %}
  {# <div class="overlay" style="
                      {{ bg_color ? 'background: ' ~ bg_color ~ ';' }}
                      {{ opacity ? 'opacity: ' ~ opacity ~ ';' }}">
  </div> #}
  {% include '_components/settings_overlay.twig' %}
  <div class="wrapper">
    {# <div class="container" style="{{ txt_color ? 'color: ' ~ txt_color ~ ';' }}"> #}
    <div class="container color-{{ text_color ?: 'primary' }}">
      {% if title %}
        {% if title_anim.element_animation %}
            {% set animation_type  = title_anim.animation_type %}
            {% set animation_duration  = title_anim.animation_duration %}
            {% set animation_delay  = title_anim.animation_delay %}
            <h1 class="m__title m__hero__hero__title appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">{{ title }}</h1>
        {% else %}
            <h1 class="m__title m__hero__hero__title">{{ title }}</h1>
        {% endif %}
      {% endif %}
      {% if subtitle %}
        {% if sub_anim.element_animation %}
            {% set animation_type  = sub_anim.animation_type %}
            {% set animation_duration  = sub_anim.animation_duration %}
            {% set animation_delay  = sub_anim.animation_delay %}
            <h2 class="m__subtitle m__hero__hero__subtitle appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">{{ subtitle }}</h2>
        {% else %}
            <h2 class="m__subtitle m__hero__hero__subtitle">{{ subtitle }}</h2>
        {% endif %}
      {% endif %}
      {% if ctas %}
        {% if ctas_anim.element_animation %}
            {% set animation_type  = ctas_anim.animation_type %}
            {% set animation_duration  = ctas_anim.animation_duration %}
            {% set animation_delay  = ctas_anim.animation_delay %}
            <div class="m__ctas m__hero__hero__ctas appear-animate animated-{{animation_duration}}" data-settings="{'_animation':'{{animation_type}}','_animation_delay':{{animation_delay}}}">
        {% else %}
            <div class="m__ctas m__hero__hero__ctas">
        {% endif %}
        
          {% for row in ctas %}
            {% set link = row.cta %}

            {% include '_components/_advanced_link.twig' with {
              link: link
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>