{% set postType    = post.post_type %}
{% set title       = post.title %}
{% set label       = post.label %}
{% set tag_logo       = post.tag_logo %}
{% set tag_logo_hide       = post.tag_logo_hide %}
{% set customTitle = post.meta.custom_title %}
{% set subtitle    = post.meta.subtitle %}
{% set date    = post.meta.date %}
{% set form_image    = post.meta.form_image %}
{% set form_code    = post.meta.form_code %}
{% set heroImg     = post.meta.hero_img %}
{% set desc        = post.meta.desc %}
{% set text        = post.meta.text_box %}

<section class="hero__webinar">
    <div class="hero__webinar__top">
        {% if heroImg %}
            <div class="hero__webinar__top__imgWrapper">
                <div class="hero__webinar__top__img" style="background-image: url({{ get_image(heroImg) }})"></div>
            </div>
        {% endif %}
        <div class="wrapper">
            {% if tag_logo_hide == false %}
            <div class="postTag">
                {% if tag_logo %}
                    <img class="tagLogo" src="{{ get_image(tag_logo) }}" alt="Webniar Tag Logo">
                {% else %}
                    <img class="tagLogo" src="{{ theme.link ~ '/public/podcast/podcast_tag.png' }}" alt="Webniar Tag Logo">
                {% endif %} 
            </div>
            {% else %}
            <style>
                .hero__webinar__top__left__box__inner {padding-top: 70px;}
            </style>
            {% endif %}
            <div class="_w">
                <div class="hero__webinar__top__left _l6">
                    <div class="hero__webinar__top__left__box">
                        <div class="hero__webinar__top__left__box__inner">
                            <div style="font-size: 16px; font-weight: 600;">{{label}}</div>
                            <div class="titleWrapper">
                                <h1 class="title">{{ customTitle ? customTitle : title }}</h1>
                            </div>
                            {% if subtitle %}
                                <h2 class="subtitle">{{ subtitle }}</h2>
                            {% endif %}
                            {% if date %}
                                <h4 class="date" style="font-weight: 400;">{{ date }}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="hero__webinar__top__right _l6">
                    <div class="hero__webinar__top__right__inner">
                        {% if heroImg %}
                            <div class="hero__webinar__top__right__inner__wrapImg">
                                <div class="hero__webinar__top__right__inner__bgImg" style="background-image: url({{ get_image(heroImg) }})"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__webinar__bottom">
        <div class="wrapper">
            <div class="_w">
                <div class="hero__webinar__bottom__left _l6">
                    <div class="hero__webinar__bottom__left__box">
                        <div class="hero__webinar__bottom__left__box__inner">
                            {% if desc %}
                                <p class="desc">{{ desc }}</p>
                            {% endif %}
                            {% if text %}
                                <div class="textBox">
                                    <div class="m__wyswyg">{{ text }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="hero__webinar__bottom__right _l6">
                    <div class="hero__webinar__bottom__right__box">
                        <div class="hero__webinar__bottom__right__box__inner">
                            {% if form_image %}
                            <div class="hero__webinar__form__image">
                                <img src="{{ get_image(form_image) }}" alt="Image" />
                            </div>
                            {% endif %}
                            {{form_code}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>